# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!composer.json
!package.json
!.env.example
!config/auth.php
!config/app.php
!config/database.php

# Auth Controllers
!app/Http/Controllers/Auth/
!app/Http/Controllers/Api/AuthApiController.php

# Auth Models
!app/Models/User.php

# Auth Views
!resources/views/auth/

# Auth Routes
!routes/auth.php

# Auth Middleware
!app/Http/Middleware/Authenticate.php
!app/Http/Middleware/RedirectIfAuthenticated.php

# Auth Traits
!app/Traits/ApiResponse.php
